if posts
  div
    each post in posts 
      if !post.is_deleted && !post.is_removed
        div.post
          if(locals.currentUser)
            div.voting-arrows 
              button(onclick="upvotePost('"+post._id +"',this)" class=(post.user_vote === 1 ? 'upvote' : '')) ^
              span.post-score= post.vote_score
              button(onclick="downvotePost('"+post._id +"',this)" class=(post.user_vote === -1 ? 'downvote' : '')) v
          div.post-body
            - let detailURL = '/r/' + post.subreddit.name + '/' + post._id
            a(href=(post.link ==='' ? detailURL : post.link))= post.title  
            br
            - let commentString = (post.number_of_comments === 1 ? 'comment' : 'comments')
            a(href=detailURL) #{post.number_of_comments} #{commentString}
            br
            if locals.currentUser
              if String(locals.currentUser._id) === String(post.submitter)
                -let clickAction = "deletePost('"+post._id+"', this)"
                -let actionName = 'Delete'
                include action_confirmation.pug
            if is_moderator
                -let clickAction = "removePostToggle('"+post.subreddit.name+"', '"+post._id+"', this)"
                -let actionName = 'Remove'
                include action_confirmation.pug
            if is_front_page
              a(href='/r/'+post.subreddit.name) from /r/#{post.subreddit.name}
          br