doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/subForum.css')
  body
    div.header.container-fluid
      div.row
        div.col-auto.home-button
          a(href='/') Forum<br/>Project
        div.col
          div.row.subForum-shortcuts
            div.col
              ul
                li
                  a(href='/') HOME
                li
                  a(href="/subforums") SUBFORUMS
                li
                  a(href="/subforums/random") RANDOM
                li
                  span |
                li
                  a SubForum1
                li
                  a SubForum2
                li
                  a Sub3
                li
                  a Sub4
                li
                  a Sub5                      
          div.row
            div.col.page-title
              a(href=(subForum ? '/r/'+subForum.name: '/'))=(subForum ? subForum.name: 'All SubForums')
            div.col-auto.subForum-search
              form(method='POST' action='/subforums/search')
                div.searchbar
                  label(for='search') Find a SubForum:
                  input#search(type='text' name='search' required='true')
                button(type='submit') Submit  
          div.row
            div.col-auto
              if subForum || posts
                ul  
                  li
                    a(href=(subForum ? '/r/'+subForum.name : '/')) hot
                  li
                    a(href=(subForum ? '/r/'+subForum.name+'/new' : '/new')) new
                  li
                    a(href=(subForum ? '/r/'+subForum.name+'/top' : '/top')) top
            div.col
            div.col-auto
              ul
                if locals.currentUser
                  li
                    a(href='/u/'+locals.currentUser.username) #{locals.currentUser.username}
                  li
                    a X
                  li
                    a(href="/logout") logout
                else  
                  li 
                      a(href="/login") Login 
                      span or 
                      a(href="/signup") Sign up
    div.main.container-fluid
      if flash_messages
          for flash_message in flash_messages
            div.flash-messages.alert.alert-primary
              span= flash_message
      div.row
        div.content.col
          block content
        if subForum
          div.col-auto  
            div.sidebar
              h2=subForum.title
              div.submission-links
                a(href= '/r/'+subForum.name+'/submit/link')=(subForum.custom_submit_link_button !== '' ? subForum.custom_submit_link_button : 'Submit a link') 
                a(href= '/r/'+subForum.name+'/submit/text')=(subForum.custom_submit_text_button !== '' ? subForum.custom_submit_text_button : 'Submit a text post') 
                if is_mod
                  a(href= '/r/'+subForum.name+'/edit') Edit Subreddit Details
                  a(href= '/r/'+subForum.name+'/mod_access') View Mod Access
              p=subForum.description
              p=subForum.sidebar
        else if posts
          div.col-auto  
            div.sidebar
              p Welcome to my Forum Project
              div.submission-links
                a(href='/subForums/create/') Create a SubForum
