extends layout

block content
  - let currentMod = moderators.find(moderator => String(moderator.user._id) === String(locals.currentUser._id));
  
  h1= title
  p Welcome to #{title}

  h2 Add a Moderator
  div.moderator.moderator-new
    form(method='POST')
      div.new-mod-form
        div
          label(for='username') Username:
          input(type='text' name='username' required)
        div.permission-list
          div.permission
            input(type='checkbox' name='can_appoint')
            label(for='can_appoint') Can Appoint Moderators
          div.permission
            input(type='checkbox' name='can_ban')
            label(for='can_ban') Can Ban Users
          div.permission
            input(type='checkbox' name='can_edit_sub_details')
            label(for='can_edit_sub_details') Can Edit Subreddit Details
          div.permission
            input(type='checkbox' name='can_remove')
            label(for='can_remove') Can Remove Posts and Comments
      button.btn.btn-primary(type='submit') Add new Moderator

  h2 List of Moderators
  each moderator in moderators
    - let mod_name = moderator.user.username
    if mod_name === locals.currentUser.username
    div.moderator
      p= mod_name
      form( id=mod_name onsubmit="return abc(event,'"+mod_name +"')")
        div.permission-list
          div.permission
            input(type='checkbox' name='can_appoint' checked=moderator.can_appoint)
            label(for='can_appoint') Can Appoint Moderators
          div.permission
            input(type='checkbox' name='can_ban' checked=moderator.can_ban)
            label(for='can_ban') Can Ban Users
          div.permission
            input(type='checkbox' name='can_edit_sub_details' checked=moderator.can_edit_sub_details)
            label(for='can_edit_sub_details') Can Edit Subreddit Details
          div.permission
            input(type='checkbox' name='can_remove' checked=moderator.can_remove)
            label(for='can_remove') Can Remove Posts and Comments
        button.btn.btn-primary(type='submit') Update Permissions  
        p(id= mod_name + '-error')
  script
    include ../public/javascripts/fetchPost.js
    include ../public/javascripts/modAccess.js